:host {
  /**
 * @prop --align-content: Align slide content - flex-start / flex-end / center
 * @prop --align-text: Align slide content - left / right / center
 */
  --align-content: center;
  --align-text: center;
  --max-height: 600px;
  display: flex;
  position: relative;
  flex-shrink: 0;
  justify-content: var(--align-content);
  text-align: var(--align-text);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.slide-wrapper {
  height:var(--max-height);
  width:100%;
  overflow-x: scroll;
}
